@font-face {
  font-family: Open-Sans-Light;
  src: url(font/OpenSans-Light.ttf);
}

@font-face {
  font-family: Open-Sans-Regular;
  src: url(font/OpenSans-Regular.ttf);
}

@font-face {
  font-family: Qwigley;
  src: url(font/Qwigley-Regular.ttf);
}

/* COLORS:
  #444 -> #020c15
  #666 -> #465056
  #777 -> #67737a
*/

html, body {
  background-color: #041625;
  color: white;
  font: 100%/1.6 "Open-Sans-Light", "Trebuchet MS", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.section {
  padding: 5vh;
}

.section-header {
  height: 15vh;
  font-size: max(3.5em, 8vh);
  margin-left: 5vw;
}

.section-content {
  font-size: 3vh;
  height: 65vh;
}

.accent {
  color: #ffd900;
}

/* INTRO */
#intro {
  align-items: center;
  display: flex;
  height: 80vh;
  justify-content: center;
}

#intro-content {
  background-color: #465056;
  display: flex;
  height: 60vh;
  bottom: 60vh;
  opacity: 0%;
  padding: 7vh;
  position: absolute;
  transition: bottom 1s, opacity 1s;
  transition-delay: .5s;
  width: 60vw;
}

#intro-content.after-load {
  bottom: 18vh;
  opacity: 100%;
}

#intro-left {
  align-items: center;
  align-self: left;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: center;
}

#pfp {
  border-radius: 50%;
  height: 44vh;
  max-height: 500px;
  max-width: 500px;
  object-fit: cover;
  width: 44vh;
}

#contact-links {
  height: 4vh;
  min-height: 40px;
  padding: 4vh;
}

.link-icon {
  height: 100%;
  display: inline-block;
}

.link-icon img {
  height: 100%;
  margin: 0 .8vh;
  object-fit: contain;
}

/* end left intro, begin right intro */
#intro-right {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: center;
  min-width: 300px;
}

#hello {
  font: 100%/1 "Qwigley", "Trebuchet MS", Helvetica, sans-serif;
  font-size: 25vh;
  text-align: center;
}

#blurb {
  font-size: 3.5vh;
  margin: 0 3vh 2vh 8vh;
}

/* FIRST SECTION */
#aboutme {
  background-color: #67737a;
  height: 75vh;
}

#aboutme-content {
  display: flex;
  flex-flow: row nowrap;
  left: 60vw;
  margin: 5vh 5vw 0 5vw;
  opacity: 0%;
  position: absolute;
  transition: left 1s, right 1s, opacity 1s;
  width: calc(100% - 10vw - 10vh);
}

#aboutme-content.after-load {
  left: 0vw;
  opacity: 100%;
  /* right: 0vw; */
}

#aboutme-header {
  align-self: left;
  margin: 0;
  margin-bottom: max(2vh, 20px);
}

#aboutme-blurb {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0 max(5vw, 50px);
}

#skills-tech {
  background-color: #ccc;
  height: 100%;
  margin-left: 5vh;
  min-width: max(350px, 25vw);
  width: 60vh;
}

#showScroll {
  height: 60vh;
}