@font-face {
  font-family: Open-Sans-Light;
  src: url(font/OpenSans-Light.ttf);
}

@font-face {
  font-family: Open-Sans-Regular;
  src: url(font/OpenSans-Regular.ttf);
}

@font-face {
  font-family: Qwigley;
  src: url(font/Qwigley-Regular.ttf);
}

/* COLORS:
  #444 -> #020c15
  #666 -> #465056
  #777 -> #67737a
*/

html, body {
  background-color: #041625;
  color: white;
  font: 100%/1.6 "Open-Sans-Light", "Trebuchet MS", Helvetica, sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  scroll-behavior: smooth;
}

.section {
  padding: 5vh;
}

.section-header {
  height: 15vh;
  font-size: max(3.5em, 8vh);
  margin-left: 5vw;
}

.section-content {
  font-size: 3vh;
  height: 65vh;
}

.accent {
  color: #ffd900;
}

#header {
  background-color: #041625b2;
  display: flex;
  flex-flow: row nowrap;
  font-size: max(2vh, 12px);
  height: 10vh;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  z-index: 10;
}

#header-items {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  justify-content: flex-end;
  overflow: hidden;
  transition: width 2s ease;
  white-space: nowrap;
  width: 0;
}

#header-items.after-load {
  width: 100%;
}

.header-item {
  cursor: pointer;
  opacity: 0%;
  padding: 1.5vw;
  transition: opacity .5s ease;
}

.header-item.after-load {
  opacity: 100%;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

a:link.accent, a:visited.accent {
  color: #ffd900;
  text-decoration: none;
}

/* INTRO */
#intro {
  align-items: center;
  display: flex;
  height: 85vh;
  justify-content: center;
}

#intro-content {
  background-color: #36455c;
  display: flex;
  height: 60vh;
  bottom: 60vh;
  opacity: 0%;
  padding: 7vh;
  position: absolute;
  transition: bottom 1s, opacity 1s ease;
  transition-delay: .5s;
  width: 60vw;
}

#intro-content.after-load {
  bottom: 15vh;
  opacity: 100%;
}

#intro-left {
  align-items: center;
  align-self: left;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: center;
  z-index: 2;
}

#pfp {
  border-radius: 50%;
  height: 44vh;
  max-height: 500px;
  max-width: 500px;
  object-fit: cover;
  width: 44vh;
}

#contact-links {
  height: 4.5vh;
  min-height: 25px;
  padding: 2vh;
}

.link-icon {
  height: 100%;
  display: inline-block;
}

.link-icon img {
  background-color: #36455c;
  height: 100%;
  margin: 0 1vh;
  min-width: 25px;
  width: 4.5vh;
  object-fit: contain;
}

/* end left intro, begin right intro */
#intro-right {
  align-items: center;
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: center;
  min-width: 300px;
}

#hello {
  font: 100%/1 "Qwigley", "Trebuchet MS", Helvetica, sans-serif;
  font-size: 25vh;
  text-align: center;
}

#blurb {
  font-size: 3.5vh;
  margin: 0 3vh 2vh 8vh;
  opacity: 100%;
  z-index: 2;
}

#intro-decor {
  background-color: white;
  height: 45vh;
  left: 60vw;
  opacity: 0%;
  margin: 5vw 0 0 2vw;
  position: absolute;
  transition: left 1s, opacity 1s ease;
  transition-delay: .5s;
  width: 55vw;
  z-index: 1;
}

#intro-decor.after-load {
  left: 20vw;
  opacity: 10%;
}

/* ABOUT ME SECTION */
#aboutme {
  background-color: #36455c;
  height: 80vh;
  overflow: hidden;
  width: 100vw;
}

#aboutme-content {
  display: flex;
  flex-flow: row nowrap;
  left: 60vw;
  margin: 5vh 5vw 0 5vw;
  opacity: 0%;
  position: absolute;
  transition: left 1s, opacity 1s ease;
  width: calc(100% - 10vw - 10vh);
}

#aboutme-content.after-load {
  left: 0vw;
  opacity: 100%;
}

#aboutme-header {
  align-self: left;
  margin: 0;
  margin-bottom: max(2vh, 20px);
}

#aboutme-blurb {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0 max(5vw, 50px);
}

#skills-tech {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: space-around;
  margin-left: 5vh;
  min-width: max(350px, 25vw);
  width: 60vh;
  z-index: 2;
}

.skills-section {
  font-family: 'Open-Sans-Light';
  width: 100%;
}

.skill {
  margin-left: 1.5vw;
  opacity: 0%;
  text-align: right;
  transition: width 1s, opacity 1s ease;
  white-space: nowrap;
  width: 100%;
}

.skill.after-load {
  opacity: 100%;
  width: 0;
}

#aboutme-decor-light {
  background-color: white;
  height: 70%;
  left: 60%;
  opacity: 10%;
  position: absolute;
  top: 150%;
  transition: top 1s, opacity 1s ease;
  width: 70vh;
}

#aboutme-decor-light.after-load {
  opacity: 10%;
  top: 100%;
}

#aboutme-decor-dark {
  background-color: black;
  height: 70%;
  left: 100%;
  opacity: 0%;
  position: absolute;
  top: 105%;
  transition: left 1s, opacity 1s ease;
  width: 70vh;
  z-index: 1;
}

#aboutme-decor-dark.after-load {
  left: 63%;
  opacity: 20%;
}

/* EXPERIENCE SECTION */
#experience {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 90vh;
}

#exp-header {
  margin-bottom: 50%;
  opacity: 0%;
  transition: margin-bottom 1s, opacity 1s ease;
}

#exp-header.after-load {
  margin-bottom: 0;
  opacity: 100%;
}

#exp-content {
  background-color: #36455c;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 80vh;
  min-width: 55vh;
  opacity: 0%;
  transition: margin-top 1s, opacity 1s ease;
  width: 50%;
  z-index: 2;
}

#exp-content.after-load {
  margin-top: 0;
  opacity: 100%;
}

#exp-tabs {
  background-color: #041625b2;
  box-shadow: .3vw 0 .3vw rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 0;
  font-size: max(2vh, 12px);
  justify-content: flex-start;
  min-width: 10vh;
  text-align: center;
  width: 8vw;
  z-index: 2;
}

.tab {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.15);
  border-left: 1px solid white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  opacity: 0%;
  padding: 1em 0;
  transition: margin-top .5s, opacity .5s ease;
}

.tab.selected {
  background-color: rgba(255, 255, 255, 0.35);
  border-left-width: 3px;
}

.tab.after-load {
  margin-top: 0;
  opacity: 100%;
}

#empty-tab {
  background-color: transparent;
  cursor: default;
  flex-grow: 1;
}

.exp-tab-content {
  padding: 7vh;
  width: calc(100% - 14vh - max(10vh, 8vw));
  z-index: 2;
}

.exp-tab-item {
  display: none;
  height: 100%;
  width: 100%;
}

.exp-tab-item.selected {
  display: block;
}

.exp-tab-header {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  font-size: max(3vh, 18px);
  justify-content: space-between;
  width: 100%;
}

.exp-tab-company {
  color: #ffd900;
}

.exp-tab-dates {
  flex-grow: 0;
  font-size: max(2vh, 12px);
}

.exp-tab-content ul {
  margin: 0;
}

.exp-tab-content li {
  font-size: max(2.2vh, 12px);
  margin: .5em 0;
}

.inline-link {
  display: inline-block;
  height: 1em;
  margin: 0 .3em;
  width: 1em;
}

.inline-link img {
  height: 100%;
  object-fit: contain;
}

#exp-decor {
  background-color: white;
  height: 65%;
  left: -10%;
  opacity: 0%;
  position: absolute;
  margin-top: 7vh;
  transition: left 1s, opacity 1s ease;
  width: max(50%, 55vh);
  z-index: 0;
}

#exp-decor.after-load {
  left: 10%;
  opacity: 10%;
}

#showScroll {
  height: 60vh;
}