:root {
  --light-powder-blue-bg: #eaf0f3;

  --powder-blue-bg: #a7cbd9;
  --powder-blue-bg-reduced: #a7cbd97e;
  --powder-blue-text: #5c8ea1;

  --gold-bg: #dabb7b;
  --gold-bg-reduced: #dabb7b7e;

  --mauve-bg: #73626b;
  --mauve-bg-reduced-0: #73626b93;
  --mauve-bg-reduced-1: #73626b7e;
  --mauve-bg-reduced-2: #73626b43;

  --brown-text: #402a01;
}
