:root {
  --light-powder-blue-bg: #eaf3f6;

  --powder-blue-bg: #a7cbd9;
  --powder-blue-bg-reduced: #a7cbd97e;
  --powder-blue-text: #5c8ea1;
  --blue-text: #497080;
  --dark-blue-reduced: #3f4b5098;

  --gold-bg: #eacb8b;
  --gold-bg-reduced: #eacb8b7e;

  --mauve: #83626b;
  --mauve-text-reduced: #83626b93;
  --mauve-bg-reduced-1: #83626b7e;
  --mauve-bg-reduced-2: #83626b43;
  --mauve-bg-reduced-3: #83626b20;

  --brown-text: #402a01;
}
