.experience-tile {
  padding-top: 1.8em;
  padding-bottom: 1em;
}

.experience-company {
  color: #5c8ea1;
  font-size: 1.25em;
  padding-bottom: 0.3em;
}

.experience-title {
  background-color: #dabb7b;
  padding-left: 1em;
  width: 20em;
}

.experience-container-middle,
.experience-container-bottom,
.experience-container-top {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 0.5em;
}

.experience-container-middle {
  justify-content: flex-end;
}

.experience-container-small {
  padding: 0.5em;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  flex-grow: 0;
  width: 3em;
}

.experience-summary {
  background-color: #a7cbd97e;
  padding: 0.5em 1em;
  padding-right: 5em;
  width: 100%;
}

.experience-dates,
.experience-technologies {
  font-size: 0.8em;
  padding: 0 1.5em;
}

.experience-dates {
  line-height: 1;
  flex-grow: 1;
  align-self: flex-end;
  text-align: right;
}

.experience-technologies {
  background-color: #dabb7b7e;
  text-align: right;
  width: 25em;
}

.experience-bullets-container {
  height: 0;
  overflow: hidden;
  transition: 0.5s ease;
}

.experience-bullets {
  padding: 0.5em 0 1em 0;
  margin: 0 5%;
}

.experience-bullets-toggle {
  background-color: #73626b7e;
  /* border-radius: 0.75em; */
  height: 1.5em;
  width: 3em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-arrow {
  height: 30%;
}

.toggle-arrow.expanded {
  transform: rotateX(180deg);
}

.toggle-arrow.one {
  animation: flip 0.8s;
}

.toggle-arrow.two {
  animation: flip-reverse 0.8s;
}

@keyframes flip {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(180deg);
  }
}

@keyframes flip-reverse {
  from {
    transform: rotateX(180deg);
  }
  to {
    transform: rotateX(0deg);
  }
}
