#react {
  color: var(--mauve-text-reduced);
  font-size: 0.75em;
  text-align: right;
  font-weight: bold;
}

#react-icon {
  font-size: 0.9em;
  margin: 0 1em 0 0.2em;
  color: var(--mauve-text-reduced);
}
