.resume-button {
  background-color: #73626b43;
  height: 2.5em;
  color: #73626b;
  font-family: "Open Sans", "Trebuchet MS", Helvetica, sans-serif;
  font-size: 0.85em;
  padding: 0 0.8em;
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;

  animation: 1s linear 0s infinite bounce;
}

.resume-button span,
i {
  margin: 0 0.2em;
}
