.resume-button {
  background-color: var(--mauve-bg-reduced-2);
  height: 2.5em;
  color: var(--mauve-bg);
  font-size: 0.85em;
  font-weight: bold;
  padding: 0 0.8em;
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;

  animation: 1s linear 0s infinite bounce;
}

.resume-button span,
i {
  margin: 0 0.2em;
}
