.section {
  width: calc(100% - 4em);
  padding: max(5em, 9vh) 2em 2em 2em;
}

.section.colored {
  background-color: var(--light-powder-blue-bg);
}

.section-title {
  font: 100%/1.6 "Quicksand", "Trebuchet MS", Helvetica, sans-serif;
  font-size: 3em;
  color: var(--mauve-bg);
}
