.section {
  width: calc(100% - 6em);
  padding: 3em;
  padding-top: max(5em, 9vh);
}

.section.colored {
  background-color: #eaf0f3;
}

.section-title {
  font: 100%/1.6 "Quicksand", "Trebuchet MS", Helvetica, sans-serif;
  font-size: 3em;
  color: #73626b;
}
