#sidebar,
#sidebar-padding {
  padding: 0.4em 0.3em;
}

#sidebar {
  background-color: #73626b43;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  position: sticky;
}

#sidebar.social-link {
  color: white;
}

#sidebar-padding {
  color: transparent;
}
