#sidebar,
#sidebar-padding {
  padding: 0.4em 0;
  margin: 0;
}

#sidebar {
  background-color: var(--mauve-bg-reduced-2);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  align-self: flex-start;
  margin-top: 30vh;
  top: 0px;
}

#sidebar.social-link {
  color: white;
}

#sidebar-padding {
  color: transparent;
}
