#intro-section {
  padding-top: max(10em, 22vh);
}

#intro-greeting {
  color: var(--mauve);
  font-size: 2em;
  height: 1.1em;
  margin-left: 0.1em;
}

#intro-title {
  font-size: 4em;
  height: 1.8em;
}

#intro-box {
  flex-flow: row wrap;
}

/* left side contents */

#intro-box-right {
  margin: 1em;
  margin-right: 3em;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}

#pfp {
  object-fit: cover;
  height: 13em;
  width: 13em;
  max-height: 250px;
  max-width: 250px;
}

/* right side contents */

#blurb-box {
  height: 100%;
  flex-grow: 0.4;
  display: flex;
  flex-flow: column nowrap;
}

.blurb {
  height: 2em;
  padding: 0.2em 0.5em;
  margin: 0.25em;
  width: 60%;
}

.blurb.one {
  background-color: var(--powder-blue-bg);
  text-align: left;
  padding-right: 5em;
  align-self: flex-start;
}

.blurb.two {
  background-color: var(--gold-bg);
  text-align: right;
  padding-left: 5em;
  align-self: flex-end;
}
