@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@font-face {
  font-family: Nanum;
  src: url(fonts/Nanum_Pen_Script/NanumPenScript-Regular.ttf);
}

@font-face {
  font-family: Quicksand;
  src: url(./fonts/Quicksand/static/Quicksand-Regular.ttf);
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #402a01;
  background-color: white;
  font: 100%/2 "Quicksand", "Trebuchet MS", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #402a01;
  text-decoration: none;
}

/* page contents */

#content {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  padding-bottom: 5em;
}

li {
  font-size: 0.5em;
}

li span {
  font-size: 1.8em;
}

a.formatted {
  color: #5c8ea1;
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.center-contents {
  /* centers contents within this div */
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link {
  color: #73626b;
}

/* colors */

#color-scheme {
  width: 200px;
  display: flex;
  height: 10vh;
}

.color {
  height: 100%;
  flex-grow: 1;
}
.color.one {
  background-color: #a7cbd9;
}

.color.two {
  background-color: #dabb7b;
}

.color.three {
  background-color: #73626b;
}

.color.four {
  background-color: #402a01;
}

/*
color scheme:

light powder blue
background #eaf0f3

powder blue
text #5c8ea1
background #a7cbd9

gold
background #dabb7b

mauve
background #73626b

brown
text #402a01

adjusted opacity: 7e

*/

/*
color schemes:
#39342D - dark gray
#C1AF8A - sand
#88B5D4 - powder blue
#7D909E - gray-blue

#73B2D9 - sky blue
#A7CBD9 - light powder blue
#BF9649 - gold
#D9B391 - tan
#73626B - dark mauve

#402A01 - brown
#0D0D0D - black
*/
